body {
    background-color: lightgrey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    color: darkmagenta;
}

h1 {
    color: blue;
    font-size: 50px;
}

img {
    width: 15%;
    height: 20;
    border-color: orange;
    border-width: 1.2pt;
}