body {
    background-color: lightgrey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    color: darkmagenta;
}

h1 {
    color: blue;
    font-size: 50px;
}

#ella img{
    width: 15;
    height:auto;
}